/* html {
  color: #fff;
  background-color: #000;
} */


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.client-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form-container {
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  text-align: center;
}
